.red{
  height: 50px;
  color: white;
  background-color: red
}
.green{
  height: 50px;
  color: white;
  background-color: green
}
.blue{
  height: 50px;
  color: white;
  background-color: blue
}
.yellow{
  height: 50px;
  color: white;
  background-color: yellow
}
.orange{
  height: 50px;
  color: white;
  background-color: orange
}
